<body style="width:100%;">
<div style="width: 100%; background-color: #eee; padding: 10px 0">
    <div style="margin: 0 auto; max-width: 490px; border: 1px solid #ccc; padding: 15px; background-color: #fff">
        <p>
            Hi,
        </p>

        <p>Looks like you forgot your password. If you did, click the link below to choose a new one:</p>
        <p>${ resetLink }</p>

        <p>Feel free to contact our team if you have any questions or feedback at <a href="mailto:darronbrown@theladieschampion.com">darronbrown@theladieschampion.com</a></p>

        <p>
            Best, <br />
            The Ladies Champion Team
        </p>
        <p style="text-align: center; color: #888">
            © The Ladies Champion, Inc. 2017. All Rights Reserved
        </p>
    </div>
</div>
</body>
